embed{
    position: absolute;
    height: 0px;
    width: 0px;
    margin: 0px;
}
figure{
    background-color: #ffffff;
    width: 5px;
    height: 60px;
    margin: 35px 20px;
    border-radius: 30px;
}
.charizard{
    position: absolute;
    height: 200px;
    transform: rotate(20deg);
    animation: animation-pm 2.5s linear infinite;
}
.container{
    padding-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.pokeball{
    position: absolute;
    height: 100px;
    top: -15px;
    left: -10px;
    animation: animation-pb 2s linear infinite;
}
.container p{
    color: #ffcc01;
    -webkit-text-stroke: 1.5px #2b6db6;
    transition: 400ms;
}
.container a, .container a:active, .container a:checked{
    text-decoration: none;
}
.container p:hover{
    text-shadow: 2px 5px 4px rgba(0, 0, 0, 1);
    transition: 400ms;
}
@keyframes animation-pb{
    0% {
        transform: rotate();
        left: -10px;
        top: -10px;
    }
    50% {
        transform: rotate(540deg);
        left: 10px;
        top: 10px;
    }
    100% {
        transform: rotate(1080deg);
        left: -10px;
        top: -10px;;
    }
}
@keyframes animation-pm {
    0%{
        left: 0%;
        top: -35%;
        transform: rotate(20deg);
    }
    16% {
        left: 10%;//54,64 13,66
        top: -20%;
        transform: rotate(20deg);
    }
    33% {
        left: 25%;
        top: -14%;
        transform: rotate(0deg);
    }
    49% {
        left: 40%;
        top: -14%;
        transform: rotate(-20deg);
    }
    65% {
        left: 55%;
        top: -20%;
        transform: rotate(-40deg);
    }
    82% {
        left: 70%;
        top: -37%;
        transform: rotate(-40deg);
    }
    100%{
        left: 70%;
        top: -40%;
        transform: rotate(-40deg);
    }
}
@media (max-width:1000px) {
    figure{
        height: 40px;
        margin: 32px 20px;
    }
    .container{
        padding-top: 55px;
        font-size: 20px;
    }
}
@media (max-width:875px) {
    figure{
        height: 40px;
        margin: 28px 15px;
    }
    .container{
        padding-top: 60px;
        font-size: 18px;
    }
}
@media (max-width:800px) {
    figure{
        height: 40px;
        margin: 28px 15px;
    }
    .container{
        padding-top: 68px;
        font-size: 18px;
    }
}
@media (max-width:680px) {
    figure{
        height: 30px;
        margin: 24px 12px;
    }
    .container{
        padding-top: 80px;
        font-size: 15px;
    }
    .container p{
        -webkit-text-stroke: 1px #2b6db6;
    }
}
@media (max-width:500px) {
    figure{
        height: 20px;
        margin: 16px 8px;
    }
    .container{
        padding-top: 44px;
        font-size: 10px;
    }
    .pokeball{
        height: 50px;
    }
    .container p{
        -webkit-text-stroke: 0.8px #2b6db6;
    }
}
// @keyframes animation-pm {
//     16% {
//         left: 50px;
//         top: -160px;
//         transform: rotate(20deg);
//     }
//     33% {
//         left: 350px;
//         top: -110px;
//         transform: rotate(0deg);
//     }
//     49% {
//         left: 700px;
//         top: -110px;
//         transform: rotate(-20deg);
//     }
//     65% {
//         left: 900px;
//         top: -200px;
//         transform: rotate(-40deg);
//     }
//     82% {
//         left: 1000px;
//         top: -370px;
//         transform: rotate(-40deg);
//     }
//     100%{
//         left: 1000px;
//         top: -370px;
//         transform: rotate(-40deg);
//     }
// }