<embed id="song" src="../../../assets/sounds/SongRedFire.mp3" autostarty="true">
<img class="pokeball" src="../../../assets/img/Pokebola.png" alt="">
<img class="charizard" src="../../../assets/img/Charizard.png" alt="">
<section class="container">
    <a href="/Index"><p>Pokedex</p></a>
    <figure></figure>
    <a href="/Working"><p>Who i'm?</p></a>
    <figure></figure>
    <a href="/Working"><p>Why i developed it?</p></a>
    <figure></figure>
    <a href="/Working"><p>How i did it?</p></a>
</section>