<section class="background">
    <app-navbar></app-navbar>
    <section class="container">
        <img class="pokedex" #pokedex id="pokedex" width="300px" height="425px" src="../../../assets/img/Pokedex-close.png" alt="pokedex">
        <button [hidden]="false" (click)="ChangeImg()" id="open" class="open"><p>Press to Open</p></button>
        
        
        <section [hidden]="true" id="left-screen" class="left-screen">
            <section class="ctnr-photo-pk">
                <img id="photo-pk" class="photo-pk" src="" alt="">
                <p id="tittle-name-pk"></p>
            </section>
        </section>

        
        <section [hidden]="true" id="left-down-screen" class="left-down-screen">
        </section>


        <section id="right-screen" class="right-screen">
            <section [hidden]="true" id="ctnr-search" class="ctnr-search">
                <section id="search" class="search">
                    <p class="ask-search">search for name or id pokemon?</p>
                    <section class="flex-search">
                        <img class="btn-img-name arrow" src="../../../assets/img/Arrow.png" alt="">
                        <button class="btn-name" (click)="ChangeStateName()">Name</button>
                    </section>
                    <section class="flex-search">
                        <img class="btn-img-number arrow" src="../../../assets/img/Arrow.png" alt="">
                        <button class="btn-number" (click)="ChangeStateNumber()">Number</button>
                    </section>
                    <section>
                        <p [hidden]="true" id="number-text" class="number-text">Insert Number:</p>
                        <input #numberpk [hidden]="true" id="number-pk" class="number-pk"  type="number" max="898" min="1" placeholder="....">
                        <p [hidden]="true" id="name-text" class="name-text">Insert Name:</p>
                        <input #namepk [hidden]="true" id="name-pk" class="name-pk" type="" placeholder="....">
                    </section>
                </section>
            </section>

            <section [hidden]="true" id="info-pk" class="info-pk">
                <p id="info-pk"></p>
            </section>
        </section>
        <section id="right-down-screen" class="right-screen-down">
            <section id="new-src" class="ctnr-new-src">
                <button (click)="OtherSearch()" [hidden]="true" id="btn-new-search" class="btn-new-search">new search</button>
            </section>
            <section [hidden]="true" id="ctnr-btn-search" class="ctnr-btn-search">
                <button (click)="ShowInfoPokemon(numberpk.value || namepk.value)" class="btn-search">Search</button>
            </section>
        </section>


    </section>
</section>