<section class="background">
    <app-navbar></app-navbar>
    <section class="container">
        <img class="pokedex" #pokedex id="pokedex" width="300px" height="425px" src="../../../assets/img/Pokedex-close.png" alt="pokedex">
        <button [hidden]="false" (click)="ChangeImg()" id="open" class="open"><p>Press to Open</p></button>
        <section [hidden]="true" id="left-screen" class="left-screen">
            <section class="search">
                <p class="ask-search">search for name<br>or id pokemon?</p>
                <section class="flex-search">
                    <img class="btn-img-name arrow" src="../../../assets/img/Arrow.png" alt="">
                    <button class="btn-name" (click)="ChangeStateName()">Name</button>
                </section>
                <section class="flex-search">
                    <img class="btn-img-number arrow" src="../../../assets/img/Arrow.png" alt="">
                    <button class="btn-number" (click)="ChangeStateNumber()">Number</button>
                </section>
                <section>
                    <p class="number-text" id="number-text" [hidden]="true">Insert Number:</p>
                    <input #numberpk [hidden]="true" id="number-pk" class="number-pk"  type="number" max="898" min="1" placeholder="....">
                    <p [hidden]="true" id="name-text" class="name-text">Insert Name:</p>
                    <input #namepk [hidden]="true" id="name-pk" class="name-pk" type="" placeholder="....">
                </section>
            </section>
        </section>
        <section [hidden]="true" id="left-down-screen" class="left-down-screen">
            <button (click)="ShowInfoPokemon(numberpk.value || namepk.value)" class="btn-search">Search</button>
        </section>
        <section [hidden]="true" id="right-screen" class="right-screen">
        </section>
        <section [hidden]="true" id="right-down-screen" class="right-screen">
            <p class="height" id="height">height: </p>
            <p class="weight" id="weight">weight: </p>
        </section>
    </section>
    <p id="nombrepokemon"></p>
</section>